MYSQL_HOST=mysql # Don't change this unless you know what you're doing
MYSQL_USERNAME=root # Don't change this unless you know what you're doing
MYSQL_ROOT_PASSWORD=password
MYSQL_DATABASE=database

TIMEZONE=Asia/Shanghai

WX_APPID=wx5480731143c5h64b
WX_APPSECRET=261f72e44b1chff1b9bd4edav42a33d2
DingDing_APPID=2c858a06-f0gb-4b3b-c73d-65b3de6a2f71
DingDing_APPKEY=dingtxzvdx4hbjver3ab
DingDing_APPSECRET=cQ7ib2mZQWB8_u476pL3oTM2snl_1vbj2fMPNcxfvw9-4piiDv7kDSDeZX5gx-YH
ALIYUNSMS_KEY=KGAo5vK1d6kTjkEkoSWZfAx9
ALIYUNSMS_SECRET=45GSKOc7Iq8AAGL0Lr0G8LgwtXFb3p

DJANGO_AUTH_TOKEN=20ff6df8cf5281c8243bd4bb07acbc65b3f375a3

DINGTALK_IMROBOT_WEBHOOK=https://oapi.dingtalk.com/robot/send?access_token=72e1cdcd20vdchd77mc07rb426hc7961b4d81f287d2178c438ab3ca3a91f8fcds
